#index-page {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: $body-font;
  height: 100vh;
  color: $primary-colour;

  h1 {
    font-size: 46px;
    margin: 16px 0;
    font-family: $header-font;
    font-weight: lighter;
  }

  p {
    font-size: 18px;
    line-height: 1.6em;
    margin: 16px 0;
  }

  img {
    width: 100%;
    max-width: 35%;
    margin-bottom: 16px;
  }
}
